{#
@name: atomButton
*
@description: This component can be a button or link that looks like a button. You can do a lot here with @params.
*
@params: 
* text: $string
* element: button | anchor
* type: button (default) | submit [only if button]
* href: $string [only if anchor]
* title: $string [only if anchor]
*
#}

<link rel="stylesheet" property="stylesheet" href="patterns/atoms/atomButton/css/atomButton.css">

{% if element == 'button' %}
<button type="{{ type | default('button') }}" class="atomButton">{{ text }}</button>
{% else %}
<a href="{{ href }}" title="{{ title }}" class="atomButton">{{ text }}</a>
{% endif %}